body {
    background-color: #c5f9ff;
    margin: 0;
    padding: 0;
    padding-top: 10rem;
}

header {
    background: #1cffecf3;
    box-shadow: 0 6px 12px #c0c0c0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.lineas-decorativas{
    height: 0.1rem;
    margin: 1rem;
    background: #ffffff;
    position: relative;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

nav ul li:first-child {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 15rem;
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease;
}
    
.logo:hover img {
    transform: scale(1.1) rotate(5deg);
    color: #ffff00;
}

.logo-text {
    font-size: 2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.logo-text:hover {
    color: #ffff00;
    transform: scale(1.05)
}

.boton {
    padding: 0.8rem 1.5rem;
    border-radius: 50px;    
    backdrop-filter: blur(20px);
    position: relative;
    transition: 0.3s;
}

.boton.active{
    color: #ffff00;
}

.boton:hover{
    color: #ffff00;
}

.carrusel{
    max-width: 1000px;
    width: 90%;
    margin: 2rem auto;
    padding: 0;
    position: relative;
}

.carrusel .carousel-inner {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.carrusel .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

footer {
    background: #202020;
    width: 100%;
    padding: 2rem 0;
    margin-top: 4rem;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.redes {
    display: flex;
    justify-self: center;
    gap: 2.5rem;
}

.redes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.redes ul li a img {
    background-color: #2b2b2bf3;
    border-radius: 50%;
    border: 3px solid #ffffff;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.redes ul li a:hover img {
    transform: scale(1.1) translateY(-5px);
    background-color: #ff8c00;
    border-color: #ff8c00;
    box-shadow: 0 8px 20px rgba(255, 140, 0, 0.4);
}

.derechos {
    text-align: center;
}

.derechos p {
    margin: 0;
    color: #ffffff;
    text-shadow: 1px 1px 2px #00000033;
}