body {
    padding-top: 9rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

header {
    background: #ffffff;
    box-shadow: 0 6px 12px #c0c0c0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.lineas-decorativas {
    height: 0.1rem;
    margin: 1rem;
    background: #1cffecf3;
}

nav {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 2rem;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    transition: transform 0.3s;
}

.logo img {
    transition: transform 0.3s;
}

.logo:hover img {
    transform: scale(1.1) rotate(5deg);
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
    color: #51a3b0;
}

.logo:hover, .logo-text {
    transform: scale(1.05);
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    position: relative;
}

.nav-menu li a {
    text-decoration: none;
    color: #51a3b0;
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.nav-menu li a:hover,
.nav-menu li a.active {
    color: #000000;
}

.nav-menu ul {
    position: absolute;
    background: #ececec;
    list-style: none;
    padding: 0;
    min-width: 220px;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
    border-radius: 8px;
    top: 150%;
}

.nav-menu > li:hover > ul {
    visibility: visible;
    transform: translateY(0);
}

.nav-menu ul li {
    position: relative;
}

.nav-menu ul li a {
    display: block;
    padding: 0.7rem;
    color: #333;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    border-left: 3px solid transparent;
}

.nav-menu ul li a:hover {
    border-left-color: #51a3b0;
    color: #51a3b0;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
    margin-left: 0.2rem;
}

.nav-menu ul li:hover > ul {
    visibility: visible;
    transform: translateY(0);
}

.navbar-toggler {
    display: none;
    fill: #51a3b0;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    padding: 2rem 1rem;
    transition: right 0.3s ease;
    z-index: 1050;
}

.mobile-menu.show {
    right: 0;
}

.mobile-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    color: #51a3b0;
}

.mobile-menu-links {
    padding: 0;
    margin-top: 1rem;
    max-height: calc(100vh - 5rem);/*Scrool*/
    overflow-y: auto;/*Scrool*/
}

.mobile-menu-links > li > a {
    display: flex;
    padding: 1rem;
    color: #51a3b0;
    text-shadow: none;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s ease;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.mobile-menu-links > li > a:hover {
    background: #e0e0e0;
    border-left-color: #51a3b0;
    color: #51a3b0;
}

.mobile-menu-links ul {
    display: none;
    text-shadow: none;
    padding-left: 0;
    margin: 0;
}

.mobile-menu-links li.active > ul {
    display: block;
}

.mobile-menu-links ul > li > a {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.mobile-menu-links ul > li > a:hover {
    background: #e0e0e0;
    border-left-color: #51a3b0;
    color: #51a3b0;
}

.mobile-menu-links ul ul > li > a {
    padding: 0.7rem 2rem;
    font-size: 0.9rem;
}

.mobile-menu-links::-webkit-scrollbar {
    width: 6px;
}

.mobile-menu-links::-webkit-scrollbar-thumb {
    background: #a6a6a6f3;
}

.mobile-menu-links::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6f3;
}

.mobile-menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1040;
}

.mobile-menu-overlay.show {
    opacity: 1;
    visibility: visible;
}

.carousel-item {
    height: 680px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cartel-presentacion {
    margin: 2rem auto;
    text-align: center;
    padding: 0 2rem;
}

.cartel-presentacion > img {
    padding-bottom: 2rem;
}

.cartel-contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
}

.cartel-foto {
    background: #ffffff;
    padding: 15px 15px 50px 15px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.cartel-foto img {
    display: block;
    object-fit: cover;
}

.cartel-foto:hover {
    transform: rotate(-5deg);
}

.cartel-texto {
    max-width: 700px;
    text-align: left;
}

.cartel-texto p {
    font-family: "Quintessential", serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.cartel-texto ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

.cartel-texto ul li a {
    display: inline-block;
    width: 220px;
    text-decoration: none;
    background: #00c8b7f3;
    color: #ffffff;
    padding: 1rem 1.5rem;
    clip-path: polygon(10% 0%, 90% 0%, 100% 30%, 100% 70%, 90% 100%, 10% 100%, 0% 70%, 0% 30%);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    transition: 0.4s;
}

.cartel-texto ul li a:hover {
    background: #00d9ff;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.cartel-texto ul li.mucho-mas-li a {
    background-color: #ffffff;
    color: #00c8b7f3;
    border: 2px dashed #00c8b7f3;
    clip-path: none;
    border-radius: 10px;
}

.catalogo h1{
    color: #00c8b7f3;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
}

.catalogo p{
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

footer {
    background: #202020;
    color: #ffffff;
    padding: 2.5rem 1rem;
    margin-top: 4rem;
    bottom: 0;
}

.footer-info {
    display: flex;
    gap: 10rem;
    justify-content: center;
    padding-bottom: 3rem;
}

.footer-info h4 {
    text-decoration: underline;
    color: #e0ac00;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.footer-nostros,
.footer-links,
.footer-contactos {
    max-width: 300px;
}

.footer-links ul,
.footer-contactos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li a {
    display: inline-block;
    text-decoration: none;  
    color: #ffffff;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #ffa844;
    transform: translateX(15px);
}

.redes {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 2rem;
}

.redes ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.redes img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background: #2b2b2b;
    transition: 0.3s;
}

.redes img:hover {
    transform: scale(1.1) translateY(-5px);
    background: #ff8c00;
    border-color: #ff8c00;
}

.derechos {
    text-align: center;
}

@media (max-width: 971px){
    .nav-menu {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }

    .cartel-texto ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .cartel-texto ul li.mucho-mas-li {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }

    .cartel-texto p{
        text-align: center;
    }
}
    

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }

    
    .logo-text {
        font-size: 1.8rem;
    }

    .carousel-item {
        height: 400px;
    }

    .cartel-foto {
        width: 100%; 
        max-width: 350px;
        margin: 0 auto;
        padding: 10px 10px 40px 10px;
    }

    .cartel-foto img {
        width: 100%;
        height: auto;
    }

    .cartel-presentacion > img {
        max-width: 300px;
        max-height: 80px;
    }

    .cartel-texto ul {
        grid-template-columns: 1fr;;
        gap: 1rem;
        width: 100%;
        padding: 0;
    }

    .cartel-texto p {
        text-align: center;
    }

    .footer-info{
        display: block;
    }

    .footer-nostros, .footer-links{
        padding-bottom: 2rem;
    }
}